@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{
  background-color: F9F9F9;
  width: 100%;
  height: 100%;
}

/* Remove up and down arrows on number input */
 /* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
 
}

/* Remove up and down arrows on Chrome and Safari */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
